{% extends "base.html" %}

{% block content %}
  <div class="m-3">
    <h1>Cautions</h1>
    <p>
      ‘My Closet River’ is based on map data from ‘Open Street Map’, an open source worldwide mapping effort operated by the UK-registered not for profit organization ‘The Open Street Map Foundation’. This mapping effort includes more than a million volunteers around the globe. This mapping effort is on-going and no guarantee is made to its accuracy at any given time.
    </p>
    <p>
      ‘My Closest River’, which gratefully uses the free map data from ‘Open Street Map’, is a web app originating in Australia. It has been created by a collaboration between a Software Engineer and a Landscape Designer. Its aim is to help symbolically re-connect people and the rivers around them and to illustrate the magnificent network of waterways and the eco-systems and peoples that surround them.
    </p>
    <p>
      Waterways are vibrant, ever-changing and at times unpredictable, sometimes disappearing during scorching droughts or flooding after rains.
    </p>
    <p>'My Closest River' is not to be relied upon for accuracy at any given time.</p>
    <p>
      Do not use 'My Closest River' if you need up to date or accurate information about the location of rivers and waterways.
    </p>
  </div>
{% endblock content %}
