{% extends "base.html" %}

{% load static i18n %}
{% load render_bundle from webpack_loader %}

{% block css %}
  {{ block.super }}
  {% render_bundle 'mainMap' 'css' %}
{% endblock css %}
{% block javascript %}
  {{ block.super }}
  {% render_bundle 'mainMap' 'js' attrs='defer' %}
{% endblock javascript %}
{% block content %}
  <a id="map-link" target="_blank"></a>
  <div id="map" class="map-height"></div>
  <div class="container">
    <div class="row">
      <p class="col-4 mb-0">Name:</p>
      <p class="col-8 mb-0">Approx. distance to river:</p>
    </div>
    <div class="row">
      <p id="name" class="col-4"></p>
      <p id="distance" class="col-8"></p>
    </div>
    <div class="row">
      <p class="col-4 mb-0">Wikipedia:</p>
      <p class="col-8 mb-0">Destination:</p>
    </div>
    <div class="row">
      <a id="wikipedia" target="_blank" class="col-4"></a>
      <p id="destination" class="col-8"></p>
    </div>
  </div>
  <p id="status"></p>
  <p id="result"></p>
  <img id="arrow"
       style="visibility:hidden"
       src="{% static 'images/caret-right-fill.svg' %}"
       alt="River direction arrow" />
{% endblock content %}
